<p><%= button_to "Destroy", destroy_user_session_path, :method => :delete %></p>

<h1>Books#index</h1>

<%= link_to 'New Book', new_book_path%>

<ul>
  <% @books.each do |book|%>
    <li>
      <%= link_to book.name, book%>
    </li>
  <% end%>

  <%= paginate @books %>

</ul>
